
<div class="row pt-2">
    <div class="col-12 p-0">
        <button mat-icon-button color="primary" [matMenuTriggerFor]="signMenu" *ngIf="!obtNickname.length">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button color="primary"  *ngIf="obtNickname.length" matTooltipPosition="after" [matTooltip]="obtNickname">
            <img src="assets/img/profile.png" alt="" class="profile-picture">
        </button>
    </div>
    <div class="col-12 p-0">
        <button mat-icon-button color="accent">
            <mat-icon>stars</mat-icon>
        </button>
    </div>
    <div class="col-12 p-0">
        <button mat-icon-button color="accent" >
            <mat-icon>sports_esports</mat-icon>
        </button>
    </div>

    <div class="col-12 p-0">
        <button mat-icon-button color="accent">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>



<!-- menu -->
<mat-menu #signMenu="matMenu" xPosition="after" class="menu-arrow"  >
    <mat-card class="example-card elevation-0"  (click)="$event.stopPropagation()" >
        <mat-card-header>
            <mat-card-title>Bienvenido jugador</mat-card-title>
        </mat-card-header>
        <mat-card-content (click)="$event.stopPropagation()">
            <app-signin *ngIf="visiblefrm" (authenticate)="onSubmit($event)"></app-signin>
            <app-signup *ngIf="!visiblefrm" (createuser)="onSubmit($event)"></app-signup>
            <div class="row justify-content-end">
                <div class="col-6">
                    <mat-hint (click)="verFrm()" class="hint" >
                       <u>
                            {{ visiblefrm ? "Crea tu cuenta!": "Identificate!"}}
                       </u>
                    </mat-hint>

                </div>
            </div>
        </mat-card-content>

    </mat-card>
</mat-menu>